body {
  background-color: #fdf4e8;
}

.currency-convertor-form {
  background-color: #fcefdf;
  height: 200px;
  border-radius: 4px;
  border: 2px solid red;
  margin-top: 50px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  .form-converter {
    display: flex;
    padding: 0 300px 15px 0;
   .form-side {
     margin-left: 120px;
   flex: 1 0 50%;
    .form-label {
      color: plum;
      font-size: 18px;
      min-width: 10px;
    }
  }}}
  .convert-btn {
    margin-top: 24px;
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    &:hover {
      transform: translateY(-1px);
    &:focus {
      background-color: #fb8332;
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    &:active {
      background-color: #c85000;
      box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
      transform: translateY(0);
    }}}}
.loaderDiv {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}
.convert-result {
  margin-top: 16px;
  text-align: center;
  margin-top: -50px;
  font-size: 24px;
  font-weight: 600;
}

.formach {
  margin-top:20px;
  border: 2px solid aquamarine;
  border-radius: 15px;
  height: auto;
}

.options {

  margin-left: 55px;
  display: flex;
  margin-top: 20px;

}

.from {
  color:red;
  font-size: 25px;
  font-family: "56th Street" sens;
  padding: 3px ;
}

.res {
  color:black;
  font-size: 25px;
  font-family: "56th Street" sens;
}

.options-enter {
  opacity: 0;
}
.options-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.options-exit {
  opacity: 1;
}
.options-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}